<template>
  <div>
    <!-- nav bar -->
    <nav-bar />
    <!-- modal -->
    <modal />
    <!-- cards -->
    <job-card v-bind:carditem="carditems" />
    <!-- tables -->
    <table-form v-bind:titem="titem" />

  </div>
</template>

<script>
import JobCard from '@/components/JobCard.vue';
import Navbar from '@/components/Navbar.vue';
import Modal from '@/components/Modal.vue';
import Tables from '@/components/Tables.vue';

export default {
  name: "Home",
  components: {"job-card":JobCard,"nav-bar": Navbar,"modal": Modal,"table-form": Tables},
   data() {
      return {  
          titem: [
          {
            id: 1,
            name: "Rufet",
            salary: "$12,000",
            date: "12/10/2020"
          },
          {
            id: 2,
            name: "Fuad",
            salary: "$14,000",
            date: "04/10/2020"
          },
          {
            id: 3,
            name: "Humbet",
            salary: "$27,000",
            date: "13/10/2020"
          },
          {
            id: 4,
            name: "Ali",
            salary: "$42,000",
            date: "14/10/2020"
          }
        ],
        carditems: [
          {
            icon: "fas fa-shopping-cart fa-3x text-warning",
            name: "Sales",
            price: "$135,000"
          },
           {
            icon: "fas fa-money-bill-alt fa-3x text-success",
            name: "Expenses",
            price: "$39,000"
          },
           {
            icon: "fas fa-users fa-3x text-info",
            name: "Users",
            price: "$15,000"
          },
           {
            icon: "fas fa-chart-line fa-3x text-danger",
            name: "Visitors",
            price: "$25,000"
          }
        ]
      }
    }
};
</script>

<style>
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  
}

</style>
