<template>
  <section>
    <b-container fluid>
      <b-row>
        <b-col col xl="10" lg="9" md="8" class="ml-auto">
          <b-row class="pt-md-5 mt-md-3 mb-5 text-center">
            <job-card v-for="carditem in carditem" :key="carditem.id" v-bind:carditem="carditem" />
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
import JobCardItem from "@/components/JobCardItem.vue";

export default {
  name: "JobCard",
  components: { "job-card": JobCardItem },
  props: [ "carditem" ]
};
</script>

<style></style>
