<template>
  <!--
  <div class="col-xl-3 col-sm-6 p-2">
    <div class="card card-common">
      <div class="card-body">
        <div class="d-flex justify-content-between" >
          <i class="fas fa-shopping-cart fa-3x text-warning"></i>
          <div class="text-right text-secondary">
            <h5>{{ nameText }}</h5>
            <h3>{{ priceText }}</h3>
          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <a href="#" class="up-class">
          <i class="fas fa-sync mr-3"></i>
          <span>Updated Now</span>
        </a>
      </div>
    </div>
  </div>
 -->
  <div class="col-xl-3 col-sm-6 p-2">
      <b-card class="card-common" >
        <b-card-body class="d-flex justify-content-between p-0">
        <i v-bind:class="carditem.icon"></i>
        <div class="text-right text-secondary">
            <h5>{{ carditem.name }}</h5>
            <h3>{{ carditem.price }}</h3>
        </div>
        </b-card-body>
        <template v-slot:footer>
        <a href="#"  class="up-class"> 
              <i class="fas fa-sync mr-3"></i>
              <span>Updated Now</span>
        </a>
        </template>
      </b-card>
  </div>
 
</template>

<script>
export default {
  name: "JobCardItem",
  props: [ "carditem" ]
};
</script>
<style>
.up-class {
  text-decoration: none;
  color: #6c757d !important;
}
.up-class:hover {
  text-decoration: none;
}
.card-common {
  box-shadow: 1px 2px 5px #999;
  transition: all .4s;
}

.card-common:hover {
  box-shadow: 2px 3px 15px #999;
  transform: translateY(-1px);
}
</style>
