<template>
  <b-navbar toggleable="lg" type="light" >
    <b-navbar-toggle target="myNavbar"
      class=" ml-auto mb-2 bg-light">
    </b-navbar-toggle>
    <b-collapse class="navbar-collapse" id="myNavbar" is-nav>
      <b-container fluid>
        <b-row>
          <!-- sidebar -->
          <side-bar />
          <!-- end of sidebar -->

          <!-- top-nav -->
          <top-nav />
          <!-- end of top-nav -->
        </b-row>
      </b-container>
    </b-collapse>
  </b-navbar>
</template>

<script>
import SideBar from "@/components/SideBar.vue";
import TopNav from "@/components/TopNav.vue";

export default {
  name: "Navbar",
  components: { "side-bar": SideBar, "top-nav": TopNav }
};
</script>

<style>
</style>
