<template>
  <li class="page-item ">
    <a href="#" class="page-link py-2 px-3">
      {{ number }}
    </a>
  </li>
</template>
<script>
export default {
  name: "PaginationItem",
  props: ["number"]
};
</script>

<style></style>
