<template>
  <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
    <div class="bottom-border pb-3 mt-3">
      <img src="images/admin.jpeg" width="50" class="rounded-circle mr-3" />
      <a href="#" class="text-white">Fuad Qurbanov</a>
    </div>
    <ul class="navbar-nav flex-column mt-4">
      <li class="nav-item">
        <a href="#" class="nav-link text-white p-3 mb-2 current"
          ><i class="fas fa-home text-light fa-lg mr-3"></i>Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link text-left"
          ><i class="fas fa-user text-light fa-lg mr-3"></i>Profile</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link text-left"
          ><i class="fas fa-envelope text-light fa-lg mr-3"></i>Inbox</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link text-left"
          ><i class="fas fa-shopping-cart text-light fa-lg mr-3"></i>Sales</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link text-left"
          ><i class="fas fa-chart-line text-light fa-lg mr-3"></i>Analytics</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link text-left"
          ><i class="fas fa-chart-bar text-light fa-lg mr-3"></i>Charts</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link text-left"
          ><i class="fas fa-table text-light fa-lg mr-3"></i>Tables</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link text-left"
          ><i class="fas fa-wrench text-light fa-lg mr-3"></i>Settings</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link text-left"
          ><i class="fas fa-file-alt text-light fa-lg mr-3"></i>Documentation</a
        >
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "SideBar"
};
</script>

<style>

.sidebar-link {
  transition: all 0.4s;
}

.sidebar-link:hover {
  background-color: #444;
  border-radius: 5px;
}
.sidebar-link {
  transition: all 0.4s;
}

.sidebar-link:hover {
  background-color: #444;
  border-radius: 5px;
}
</style>
