<template>
  <tr>
    <th>{{ item.id }}</th>
    <td>{{ item.name }}</td>
    <td>{{ item.salary }}</td>
    <td>{{ item.date }}</td>
    <td><button type="button" class="btn btn-info btn-sm">Message</button></td>
  </tr>
</template>

<script>
export default {
  name: "TableItem",
  props: ["item"]
};
</script>

<style></style>
