<template>
  <section>
    <div class="container-fluid">
      <div class="row mb-5">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
          <div class="row align-items-center">
            <div class="col-xl-6 col-12 mb-4 mb-xl-0">
              <h3 class="text-muted text-center mb-3">Staff Salary</h3>
              <table class="table table-striped bg-light text-center">
                <thead>
                  <tr class="text-muted">
                    <th>#</th>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Date</th>
                    <th>Contact</th>
                  </tr>
                </thead>
                <tbody>
                  <table-item
                    v-for="item in titem"
                    :key="item.id"
                    v-bind:item="item"
                  />
                </tbody>
              </table>

              <!-- pagination -->
              <nav>
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a href="#" class="page-link py-2 px-3">
                      <span>&laquo;</span>
                    </a>
                  </li>
                  <page-item number="1" />
                  <page-item number="2" />
                  <page-item number="3" />

                  <li class="page-item">
                    <a href="#" class="page-link py-2 px-3">
                      <span>&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <!-- end of pagination -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import TableItem from "@/components/TableItem.vue";
import PaginationItem from "@/components/PaginationItem.vue";

export default {
  name: "Tables",
  components: { "table-item": TableItem, "page-item": PaginationItem },
  props: ["titem"]
};
</script>

<style></style>
