<template>
  <div
    class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark py-2 fixed-top top-navbar"
  >
    <div class="row align-items-center">
      <div class="col-md-4">
        <h4 class="text-light text-uppercase mb-0 text-left">Dashboard</h4>
      </div>
      <div class="col-md-5">
        <form>
          <div class="input-group">
            <input
              type="text"
              class="form-control search-input"
              placeholder="Search..."
            />
            <button type="button" class="btn btn-white search-button">
              <i class="fas fa-search text-danger"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <ul class="navbar-nav">
          <li class="nav-item icon-parent">
            <a href="#" class="nav-link icon-bullet"
              ><i class="fas fa-comments text-muted fa-lg"></i
            ></a>
          </li>
          <li class="nav-item icon-parent">
            <a href="#" class="nav-link icon-bullet"
              ><i class="fas fa-bell text-muted fa-lg"></i
            ></a>
          </li>
          <li class="nav-item ml-md-auto">
            <a
              href="#"
              class="nav-link"
              data-toggle="modal"
              data-target="#sign-out"
              ><i class="fas fa-sign-out-alt text-danger fa-lg"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TopNav"
};
</script>

<style>
.search-input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #999;
  transition: all 0.4s;
}

.search-input:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #dc3545;
}

.search-button {
  border-radius: 50%;
  padding: 10px 16px;
  transition: all 0.4s;
}

.search-button:hover {
  background-color: #eee;
  transform: translateY(-1px);
}

</style>
